<html>
    <head>
        <title>Sitio personal</title>
        <link href="{{ url_for('mirecurso', path='/misEstilos.css') }}" rel="stylesheet">
        <script src="{{ url_for('mirecurso', path='/bootstrap.bundle.min.js') }}"></script>
    </head>
    <body>
        <div id="titulos">sitio personal del Equipo1</div>
        <a href="/"><button class="btn btn-link">Regresar</button></a>
        <div id="parrafos">
            <ul>
                {% for diccionario in lista %}
                {% if diccionario.get('item_id') == id: %}
            <li>Matricula: {{ diccionario.get('Matricula') }}</li>
            <li>Nombre: {{ diccionario.get('Nombre')}}</li>
            <li>Apellido Paterno: {{diccionario.get('APaterno')}}</li>
            <li>Apellido Materno: {{diccionario.get('AMaterno')}}</li>
            <li>Edad: {{diccionario.get('Edad')}}</li>
            <li>Correo: {{diccionario.get('Correo')}}</li>
            <li>Teléfono: {{diccionario.get('Telefono')}}</li>
            <li>Carrera: {{diccionario.get('Carrera')}}</li>
                {% endif %}
            </ul>
            {% endfor %}
        </div>
    </body>
</html>

